.about.about-container {
    background-color: var(--grey);
}

.about.about-text{
    text-align: center;
    max-width: 40vw;
    margin: 0 auto;
    padding-top: 8vh
}

.about.headerText {
    font-size: 3.5vw;
}

.about.para {
    text-align: center;
    margin-top: 3vh;
    font-size: 1.2vw
}

.about.image-wrap {
    margin-top: 8vh;
    padding-bottom: 25vh;
    display: flex;
    justify-content: space-evenly;
}

.about.about-image {
    height: 35vh
}

.about.svg {
  position: absolute;
  /* bottom: 7vh; */
  left: -25vw;
  right: 1vw;
  height: 80vh;
  margin-top: 15vh;
}

@media (max-width: 1200px ) {

    .about .about-wrap {
        width: 80%;
        margin: 0 auto;
    }
    .about.headerText {
        font-size: 6vw;
    }

    .about.about-text { 
        max-width: 90%;
        margin-top: 1vh;
    }

    .about.para {
        font-size: 3.5vw
    }

    .about.image-wrap {
        display: flex;
        flex-direction: column;
        padding-bottom: 8vh;
    }

    .about.about.about-image:last-of-type {
        margin-top: 5vh;
    }
}

@media (max-width: 450px) {
    .about.about-text {
        max-width: 95%;
    }
    .about.headerText {
        font-size: 9.5vw
    }

    .about.para {
        font-size: 5vw;
    }
}