.soon.container {
    height: 75vh;
    display: flex;
    justify-content: center;
}

.soon.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.soon.header {
    vertical-align: middle;
    font-size: 3.5vw;
    /* transform: translate(-50%, -50%); */
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
    .soon.header {
        font-size: 7vw
    }
}