.footer.footer-container {
  background-color: var(--grey);
  width: 100%;
}

.footer.footer-wrap {
  margin: 0 10vw;
  padding: 5vh 0;
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  flex-wrap: wrap;
}

.footer.footer-text {
  background-color: aqua;
}

.footer.header {
  font-size: 1.5vw;
  margin-bottom: 3vh;
}

.footer.socials-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer p {
  font-size: 1.2vw;
  margin: 0.7vh 0;
}

.footer.socials {
  color: white;
}

.footer.socials a {
  margin: 0 0.5vw;
}

/* Media Queries  */

@media (min-width: 1200px) {
  .footer.media.footer.socials-wrap{
    display: none;
  }
}

@media (max-width: 1200px) {
  .footer.big.footer.socials-wrap{
    display: none;
  }

  .footer.footer-wrap{
    justify-content: center;
  }

  .footer.header {
    justify-content: center;
    font-size: 3.2vw;
    margin-bottom: 2vw;
  }

  .footer.para{
    text-align: center;
    font-size: 3vw;
  }

  .footer.socials {
    text-align: center;
    margin-top: 3vw;
  }
}

@media (max-width: 450px) {
  .footer.header {
    font-size: 4.5vw
  }

  .footer.para {
    font-size: 3.8vw
  }
}