.pageHead {
  font-size: 3vw;
  text-align: center;
  margin: 3vh 0;
  position: relative;
  display: inline-block;
  width: auto;
}
.pageHead::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 50px;
  background: #fff;
}
.members {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4vh;
}
.memberCard {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
}
.bigMemberCard {
  width: 50%;
}
.img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.memberCard .img {
  position: relative;
  height: 10vw;
  width: 10vw;
}
.memberCard .img::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  height: 120%;
  z-index: -1;
  background: #1b1b1b;
  border-radius: 50%;
}
.memberCard h3 {
  font-size: 1.4vw;
  font-weight: 600;
  margin-top: 3vh;
}
.memberCard h4 {
  font-size: 1.1vw;
  font-weight: 400;
  margin: 1vh 0;
}
.memberCard .socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.memberCard a {
  font-size: 1.4vw;
  color: #fff;
  margin: 0 0.3vw;
}

/* Media */
@media (max-width: 1030px) {
  .pageHead {
    font-size: 5vw;
  }
  .memberCard {
    width: 50%;
  }
  .memberCard .img {
    width: 24vw;
    height: 24vw;
  }
  .memberCard h3 {
    font-size: 3vw;
  }
  .memberCard h4 {
    font-size: 2.5vw;
    margin: 1.2vh 0;
  }
  .memberCard a {
    font-size: 2.2vw;
    color: #fff;
    margin: 0 0.5vw;
  }
}
@media (max-width: 500px) {
  .pageHead {
    font-size: 7vw;
  }
  .memberCard {
    width: 100%;
    margin-bottom: 7vh
  }
  .memberCard .img {
    width: 33vw;
    height: 33vw;
  }
  .memberCard h3 {
    font-size: 4.5vw;
  }
  .memberCard h4 {
    font-size: 3.4vw;
    margin: 1.2vh 0;
  }
  .memberCard a {
    font-size: 4vw;
    color: #fff;
    margin: 0 1vw;
  }
}
