@font-face {
  font-family: Noah;
  src: url(./fonts/noah-regular.otf);
}
@font-face {
  font-family: bold;
  src: url(./fonts/noah-bold.otf);
}
@font-face {
  font-family: cw;
  src: url(./fonts/Jokerman-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: Noah;
}
.container {
  padding: 0 7vw;
}
html {
  scroll-behavior: smooth;
}
img {
  object-fit: cover;
}
#root {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: bold;
}
